@model CuaHangVHT.ViewModels.CartCount



        <div class="same-style-2">
            <a asp-controller="Cart" asp-action="Index">
                <i class="icon-basket-loaded"></i><span class="pro-count red">@Model.Quantity</span>
            </a>
        </div>
