
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}



<div class="slider-area bg-gray">
    <div class="hero-slider-active-1 hero-slider-pt-1 nav-style-1 dot-style-1">
        <div class="single-hero-slider single-animation-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="hero-slider-content-1 hero-slider-content-1-pt-1 slider-animated-1">
                            <h4 class="animated">Sản Phẩm Nổi Bật</h4>
                            <h1 class="animated">Mũ Nón Đơn <br>Giản</h1>
                            <p class="animated">Khám phá bộ sưu tập của chúng tôi với những sản phẩm được thiết kế vô cùng tinh tế</p>
                            <div class="btn-style-1">
                                <a style="border-radius:15px;" class="animated btn-1-padding-1" href="product-details.html">Khám Phá Ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="hero-slider-img-1 slider-animated-1">
                            <img class="animated" src="~/assets/images/banner/bener3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-slider single-animation-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="hero-slider-content-1 hero-slider-content-1-pt-1 slider-animated-1">
                            <h4 class="animated">Bộ Sưu Tập Mới</h4>
                            <h1 class="animated">Da Đơn Giản <br>Unisex </h1>
                            <p class="animated">Những sản phẩm thời trang mang đậm chất đường phố</p>
                            <div class="btn-style-1">
                                <a style="border-radius:15px;" class="animated btn-1-padding-1" href="product-details.html">Khám Phá Ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="hero-slider-img-1 slider-animated-1">
                            <img class="animated" src="~/assets/images/banner/bener4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-slider single-animation-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="hero-slider-content-1 hero-slider-content-1-pt-1 slider-animated-1">
                            <h4 class="animated">Sản Phẩm Mới</h4>
                            <h1 class="animated">Jean Đơn Giản <br>Backpacks</h1>
                            <p class="animated">Những sản phẩm thời trang Street</p>
                            <div class="btn-style-1">
                                <a style="border-radius:15px;" class="animated btn-1-padding-1" href="product-details.html">Khám Phá Ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="hero-slider-img-1 slider-animated-1">
                            <img  class="animated" src="~/assets/images/banner/newBenenrSlider2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area">
    <div class="container">
        <div class="service-wrap">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-cursor"></i>
                        </div>
                        <div class="service-content">
                            <h3>Free Shipping</h3>
                            <span>Đơn hàng trên 100K</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-reload"></i>
                        </div>
                        <div class="service-content">
                            <h3>Miễn phí đổi trả</h3>
                            <span>Trong 15 ngày</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-lock"></i>
                        </div>
                        <div class="service-content">
                            <h3>100% Chính hãng</h3>
                            <span>Thanh toán online</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-tag"></i>
                        </div>
                        <div class="service-content">
                            <h3>Giá tốt</h3>
                            <span>Đảm bảo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us-area pt-85">
    <div class="container">
        <div class="border-bottom-1 about-content-pb">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="about-us-logo">
                        <img style="width:210px; height:auto; border-radius:15px;" src="~/assets/images/banner/IntroduceBN.jpg" alt="logo">
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="about-us-content">
                        <h3>Giới Thiệu</h3>
                        <p>TuAn là một trong những local brand tại Việt Nam nhằm cung cấp thời trang và chất lượng với thiết kế cá tính. Kể từ khi thành lập vào năm 2024, TuAn đã phát triển thành một trong những địa chỉ thời trang tốt nhất.</p>
                        <div class="signature">
                            <h2>HoangTuan</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin:20px;" class="banner-area section-padding-2 pb-85">


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-wrap mb-30">
                    <div style="display: flex-col; ">
                        <div style="margin:2px;">
                            <div class="banner-img banner-img-zoom">
                                <a asp-controller="HangHoa" asp-action="Index"><img style="border-radius:18px;" src="assets/images/banner/SaleBenner.jpg" alt=""></a>
                            </div>
                            
						</div>
                    <div style="margin:2px;">
                        <div class="banner-img banner-img-zoom">
                                <a asp-controller="HangHoa" asp-action="Index"><img style="border-radius:18px;" src="assets/images/banner/SaleBenner5.jpg" alt=""></a>
                        </div>
                        <div class="banner-content-10">
                            <div class="btn-style-1">
                                    <a style="border-radius:18px;" class="btn-1-padding-3 bg-white banner-btn-res" asp-controller="HangHoa" asp-action="Index">Xem Ngay</a>
                            </div>
							    </div>
					</div>
					</div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-wrap mb-30">
                    <div style="margin:2px;" class="banner-img banner-img-zoom">
                        <a asp-controller="HangHoa" asp-action="Index"><img style="border-radius:18px;" src="assets/images/banner/SaleBenner6.jpg" alt=""></a>
                    </div>
                    <div style="margin:2px;" class="banner-img banner-img-zoom">
                        <a asp-controller="HangHoa" asp-action="Index"><img style="border-radius:18px;" src="assets/images/banner/SaleBenner7.jpg" alt=""></a>
                    </div>
                    <div class="banner-content-10">
                        <div class="btn-style-1">
                            <a asp-controller="HangHoa" asp-action="Index" style="border-radius:18px;" class="btn-1-padding-3 bg-white banner-btn-res">Xem Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<div class="banner-area pb-85">
    <div class="container">
        <div class="section-title mb-45">
            <h2>BỘ SƯU TẬP CỦA CHÚNG TÔI</h2>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="banner-wrap banner-mr-1 mb-30">
                    <div class="banner-img banner-img-zoom">
                        <a><img style="border-radius: 16px;" src="~/assets/images/banner/bener2.jpg" alt=""></a>
                    </div>
                    <div class="banner-content-1">
                        <h2>Mẫu Khoác Zara Đóng Hộp <br>Underwear</h2>
                        <p>Co giãn, tươi mát giúp bạn luôn thoải mái</p>
                        <div class="btn-style-1">
                            <a style="border-radius:18px;" class="animated btn-1-padding-2" asp-controller="HangHoa" asp-action="Index">Xem Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="banner-wrap  banner-ml-1 mb-30">
                    <div class="banner-img banner-img-zoom">
                        <a href="product-details.html"><img style="border-radius: 16px;" src="~/assets/images/banner/BST3.jpg" alt=""></a>
                    </div>
                    <div class="banner-content-2">
                        <h2><span>  </span>Đường Phố</h2>
                        <p>Chủ nghĩa tối giản, hãy lựa chọn và biến sự đơn giản trở nên tuyệt vời!</p>
                    </div>
                </div>
                <div class="banner-wrap  banner-ml-1 mb-30">
                    <div style="
        position: relative;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;">
                        <!-- Hình ảnh banner -->
                        <div style="width: 100%; overflow: hidden; border-radius: 16px;">
                            <a href="product-details.html" style="display: block;">
                                <img src="~/assets/images/banner/BennerDongHo.jpg"
                                     alt="Banner"
                                     style="width: 100%; transition: transform 0.3s ease-in-out;"
                                     onmouseover="this.style.transform='scale(1.05)'"
                                     onmouseout="this.style.transform='scale(1)'">
                            </a>
                        </div>

                        <!-- Nội dung trên banner -->
                        <div style="
            position: absolute;
            top: 83%;
            left: 65%;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.16);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 80px;">
                            <p style="
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 25px;
                color: #f8f9fa;
                text-align: center;
                font-weight: bold;">
                                Coming Soon!
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
</div>

