@model CuaHangVHT.Data.Promotion

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<h4>Tạo Chương Trình Khuyến Mãi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PromotionName" class="control-label">Tên chương trình khuyến mãi</label>
                <input asp-for="PromotionName" class="form-control" />
                <span asp-validation-for="PromotionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercent" class="control-label">Phần trăm khuyến mãi</label>
                <input asp-for="DiscountPercent" class="form-control" />
                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartPrDate" class="control-label">Ngày bắt đầu</label>
                <input asp-for="StartPrDate" class="form-control" />
                <span asp-validation-for="StartPrDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndPrDate" class="control-label">Ngày kết thúc</label>
                <input asp-for="EndPrDate" class="form-control" />
                <span asp-validation-for="EndPrDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Trạng thái</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

